<launch>
  <!-- Default parameters -->
  <arg name="frame_id"                    default="gps" />
  <arg name="use_GNSS_time"               default="False" />
  <arg name="time_ref_source"             default="gps" />
  <arg name="useRMC"                      default="False" />

  <!-- Logging and playback -->
  <arg name="playback"                    default="True" />
  <arg name="playback_path"               default="" />

  <!-- Processing parameters -->
  <arg name="chunk_size"                  default="1024" />
  <arg name="driver_rate"                 default="100" />

  <!-- Heading settings -->
  <arg name="heading_offset"              default="0.0" />
  <arg name="heading_enu_frame"           default="True" />
  <arg name="apply_urdf_heading_offset"   default="False" />
  <arg name="heading_urdf_source_frame"   default="gnss_position_link" />
  <arg name="heading_urdf_target_frame"   default="gnss_vector_link" />

  <!-- U-blox specific settings -->
  <arg name="use_trimble_messages"        default="False" />
  <arg name="use_ublox_messages"          default="False" />

  <node name="nmea_serial_driver_node" pkg="nmea_navsat_driver" type="nmea_serial_driver" output="screen">
    <param name="frame_id"                    value="$(arg frame_id)" />
    <param name="use_GNSS_time"               value="$(arg use_GNSS_time)" />
    <param name="time_ref_source"             value="$(arg time_ref_source)" />
    <param name="useRMC"                      value="$(arg useRMC)" />
    <param name="playback"                    value="$(arg playback)" />
    <param name="playback_path"               value="$(arg playback_path)" />
    <param name="chunk_size"                  value="$(arg chunk_size)" />
    <param name="driver_rate"                 value="$(arg driver_rate)" />
    <param name="heading_offset"              value="$(arg heading_offset)" />
    <param name="heading_enu_frame"           value="$(arg heading_enu_frame)" />
    <param name="apply_urdf_heading_offset"   value="$(arg apply_urdf_heading_offset)" />
    <param name="heading_urdf_source_frame"   value="$(arg heading_urdf_source_frame)" />
    <param name="heading_urdf_target_frame"   value="$(arg heading_urdf_target_frame)" />
    <param name="use_trimble_messages"        value="$(arg use_trimble_messages)" />
    <param name="use_ublox_messages"          value="$(arg use_ublox_messages)" />
  </node>
</launch>
